:root {
	--background-color: #FFFF;
	--background-image: None;
}

body {
	margin: 0;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
	overflow: hidden;
	/* The image used */
	background: var(--background-image), var(--background-color);
	/* Center and scale the image nicely */
	background-position: center, center;
	background-repeat: no-repeat, repeat;
	background-size: auto auto, cover;
	height:100vh;
}

div#np-container.playing-now {
	opacity: 1;
	visibility: visible;
	transition:
		opacity 1s;
}

div#np-container {
	visibility: collapse;
	opacity: 0;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	align-items:flex-start;
	margin-top: min(5%, 50px);
	margin-left: auto;
	margin-right: auto;
	padding-left: 50px;
	max-width: 2160px;
	gap: 30px;
}

#np-container img {
	max-width: 175px;
	min-width: 100px;
	width: 15%;
	box-shadow:10px 5px 5px #fcb48d;
}

div#np-container div#np-details {
	display:flex;
	flex-flow:column;
	width:30%;
	max-width:500px;
	min-width:300px;
}

h1#np-title {
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-weight: lighter;
	font-kerning: auto;
	color:#111d29;
	text-shadow: 10px 5px 5px #fcb48d;
}
